<!DOCTYPE html>
<html>

<head>
    <title>Documento</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/icones.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body class="">

    <header>
        <nav class="barra">
            <h1 class="logo">
                <a href="index.html"><span class="icono-cup"></span></a>
                CUP
            </h1>
            <div class="menu1" id="menu1">
                <ul>
                    <li><a href="membros.html">MEMBROS</a></li>
                    <li><a href="projetos.html">PROJETOS</a></li>
                    <li><a href="#" id="drop1">MAIS</a></li>
                </ul>
            </div>

            <div class="pesquisa-login">
                <a href="#" id="pesquisar"><span class="icono-search"></span></a>
                <a href="#"><span class="icono-user" id="login"></span></a>
            </div>
            <div class="link-responsivo">
                <button class="b b-menu"><span class="icono-hamburger"></button>
                <a href="#"><span class="icono-user" id="login2"></span></a>
            </div>
        </nav>
        <div class="submenu1" id="submenu1">
            <ul>
                <li>
                    <ul>
                        <li><h4 class="titulo2">COMUNIDADE</h4></li>
                        <li><a href="mercado.html">Mercado</a></li> 
                        <li><a href="eventos.html">Eventos</a></li>
                        <li><a href="videos.html">Videos</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><h4 class="titulo2">PARTICIPE</h4></li>
                        <li><a href="reporte.html">Reporte um Bug</a></li>
                        <li><a href="foruns.html">Fóruns</a></li>
                        <li><a href="listas.html">Listas de Correspondencias</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><h4 class="titulo2">GRUPOS DE TRABALHO</h4></li>
                        <li><a href="internet.html">Internet das Coisas</a></li>
                        <li><a href="ciencia.html">Ciencia</a></li>
                        <li><a href="suporte-longo.html">Suporte de Longo Termo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="pesquisar-caixa">
            <input type="search" id="pesquisar-campo"><button class="b b-vermelho">Pesquisar</button>
        </div>
        <nav class="menu2" id="menu2">
            <ul>
                <li><a href="download.html">Download</a></li>
                <li><a href="documentacao.html">Documentação</a></li>
                <li><a href="premium.html">Premium</a></li>
                <li><a href="suporte.html">Suporte</a></li>
            </ul>
        </nav>
        <div class="pop-login esquerda" id="pop-login">
            <div class="linha">
                <div class="c c12 direita">
                    <button class="b b-vermelho" id="login1">X</button>
                </div>
            </div>
            <div class="linha">
                <div class="c c6">
                    <h2 class="titulo2">Crie Seu Login</h2>
                    <form class="formulario">
                        <label for="email-cadastro">Informe Seu Email</label>
                        <input type="email" name="email-cadastro" id="email-cadastro">
                        <label for="senha-cadastro">Crie Uma Senha</label>
                        <input type="password" name="senha-cadastro" id="senha-cadastro">
                        <label for="senha-cadastro-repita">Repita Sua Senha</label>
                        <input type="password" name="senha-cadastro-repita" id="    senha-cadastro-repita">
                        <input type="submit" name="cadastrar" value="Cadastrar" class="b b-vermelho">
                    </form>
                </div>
                <div class="c c6">
                    <h2 class="titulo2">Faça Login</h2>
                    <form class="formulario">
                        <label for="email-login">Email</label>
                        <input type="email" id="email-login" name="email-login">
                        <label for="senha-login">Senha</label>
                        <input type="password" name="senha-login" id="senha-login">
                        <input type="submit" name="enviar" value="Login" class="b b-padrao">
                    </form>
                </div>
            </div>
        </div>
            
    </header>


    <div class="caixa">
        <div class="linha">
            <div class="c c12 justificar">
                <h2 class="titulo2">TERMOS DE USO</h2>
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in lectus lobortis, sagittis felis sed, interdum est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vel consequat lacus. Proin lobortis consequat mauris, vitae sagittis lectus iaculis ac. Aenean lacinia tincidunt lacus scelerisque mattis. Curabitur ullamcorper rhoncus nisi, sed iaculis metus vehicula eget. Nam a interdum lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed felis arcu, imperdiet vel pretium ut, luctus convallis orci. Etiam mattis erat nulla, sed faucibus massa euismod sed. Aenean a odio sit amet sem hendrerit lacinia at at ante. Vestibulum elit nulla, ultricies ut molestie sed, sollicitudin laoreet libero. Phasellus lobortis nunc ut sem scelerisque sodales. Nulla vehicula accumsan orci vitae consequat.</p>
                <p class="p">Aenean molestie at dolor at auctor. Curabitur dignissim dolor vel erat luctus condimentum. Nullam vitae dui eget nisi euismod hendrerit a id justo. Nam nec risus tellus. Mauris eu efficitur tortor. Aenean fermentum ipsum sapien, vel dignissim metus feugiat vel. Nulla vel pretium nisl. Vestibulum quam augue, elementum et faucibus eu, commodo nec diam. Phasellus at lectus massa.</p>
                <h2 class="titulo2">CONDUTA DO VISITANTE</h2>
                <ul class="p">
                    <li>Nulla vel pretium nisl. Vestibulum quam augue, elementum et faucibus eu, commodo nec diam. Phasellus at lectus massa.</li>
                    <li>Nam nec risus quis mi luctus ultricies. Aliquam posuere ultricies ultrices. Nam ornare lectus condimentum nisl pulvinar varius non a quam. Duis non tristique erat. Curabitur ullamcorper posuere semper.</li>
                    <li>Suspendisse efficitur condimentum augue, ac varius diam mattis vel. Duis et porttitor nunc. In hac habitasse platea dictumst. Donec mi eros, pharetra ut consequat at, euismod et leo.</li>
                    <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
                </ul>
                </div>
                <h2 class="titulo2">ACESSO INTERNACIONAL</h2>
                <p class="p">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eu bibendum erat. Sed aliquet rutrum ex eu lobortis. Duis magna nulla, ultricies at aliquet non, interdum id mi. Sed et consectetur tortor, a tincidunt lacus. Sed eu cursus orci. Donec pretium augue ac massa dapibus, quis ullamcorper felis eleifend. Suspendisse aliquam massa nec magna viverra porttitor. Duis imperdiet fringilla finibus. Vivamus a ornare tortor. Etiam id cursus sem, id cursus sem. Nam nec risus quis mi luctus ultricies. Aliquam posuere ultricies ultrices. Nam ornare lectus condimentum nisl pulvinar varius non a quam. Duis non tristique erat. Curabitur ullamcorper posuere semper.</p>
                <h2 class="titulo2">INFORMAÇÃO DE PRIVACIDADE</h2>
                <p class="p">Nullam ac risus metus. Aenean vitae nunc pharetra, placerat lacus convallis, fringilla augue. Integer ut neque leo. Curabitur rutrum molestie consectetur. Mauris consectetur, ipsum vel feugiat placerat, mi nibh feugiat ex, efficitur ullamcorper ipsum metus fermentum enim. In hac habitasse platea dictumst. Morbi tempor, nisl a imperdiet dignissim, orci urna luctus massa, vitae dignissim urna sapien ut mi. Curabitur pulvinar quam in arcu facilisis eleifend. Phasellus ut ante vitae nulla vulputate vehicula eget ac ligula. Nulla rutrum in lectus nec egestas. Pellentesque egestas, enim eget porttitor hendrerit, sapien risus ullamcorper velit, ut finibus tellus libero eu ex. Suspendisse efficitur condimentum augue, ac varius diam mattis vel. Duis et porttitor nunc. In hac habitasse platea dictumst. Donec mi eros, pharetra ut consequat at, euismod et leo.</p>
                <p class="p">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis mattis neque et neque volutpat, non egestas diam accumsan. Pellentesque mattis eros non semper commodo. Vestibulum auctor nisi a dapibus facilisis. Nunc eget euismod nunc. Proin nisi nibh, pharetra nec leo non, finibus vulputate leo.</p>
                <h2 class="titulo2">USO DE CONTEÚDO DO SITE</h2>
                <div class="p">
                    <ul>
                        <li>Nulla vel pretium nisl. Vestibulum quam augue, elementum et faucibus eu, commodo nec diam. Phasellus at lectus massa.</li>
                        <li>Nam nec risus quis mi luctus ultricies. Aliquam posuere ultricies ultrices. Nam ornare lectus condimentum nisl pulvinar varius non a quam. Duis non tristique erat. Curabitur ullamcorper posuere semper.</li>
                        <li>Suspendisse efficitur condimentum augue, ac varius diam mattis vel. Duis et porttitor nunc. In hac habitasse platea dictumst. Donec mi eros, pharetra ut consequat at, euismod et leo.</li>
                        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
                        <li>Nam ornare lectus condimentum nisl pulvinar varius non a quam. Duis non tristique erat. Curabitur ullamcorper posuere semper.</li>
                        <li>Duis et porttitor nunc. In hac habitasse platea dictumst. Donec mi eros, pharetra ut consequat at, euismod et leo.</li>
                    </ul>
                </div>
                <h2 class="titulo2">DIREITOS E LICENÇAS DE PROPRIEDADE INTELECTUAL</h2>
                <p class="p">Nullam ac risus metus. Aenean vitae nunc pharetra, placerat lacus convallis, fringilla augue. Integer ut neque leo. Curabitur rutrum molestie consectetur. Mauris consectetur, ipsum vel feugiat placerat, mi nibh feugiat ex, efficitur ullamcorper ipsum metus fermentum enim. In hac habitasse platea dictumst. Morbi tempor, nisl a imperdiet dignissim, orci urna luctus massa, vitae dignissim urna sapien ut mi. Curabitur pulvinar quam in arcu facilisis eleifend. Phasellus ut ante vitae nulla vulputate vehicula eget ac ligula. Nulla rutrum in lectus nec egestas. Pellentesque egestas, enim eget porttitor hendrerit, sapien risus ullamcorper velit, ut finibus tellus libero eu ex. Suspendisse efficitur condimentum augue, ac varius diam mattis vel. Duis et porttitor nunc. In hac habitasse platea dictumst. Donec mi eros, pharetra ut consequat at, euismod et leo.</p>
                <h2 class="titulo2">USO DE SOFTWARE</h2>
                <p class="p">Nullam ac risus metus. Aenean vitae nunc pharetra, placerat lacus convallis, fringilla augue. Integer ut neque leo. Curabitur rutrum molestie consectetur. Mauris consectetur, ipsum vel feugiat placerat, mi nibh feugiat ex, efficitur ullamcorper ipsum metus fermentum enim. In hac habitasse platea dictumst. Morbi tempor, nisl a imperdiet dignissim, orci urna luctus massa, vitae dignissim urna sapien ut mi. Curabitur pulvinar quam in arcu facilisis eleifend. Phasellus ut ante vitae nulla vulputate vehicula eget ac ligula. Nulla rutrum in lectus nec egestas. Pellentesque egestas, enim eget porttitor hendrerit, sapien risus ullamcorper velit, ut finibus tellus libero eu ex. Suspendisse efficitur condimentum augue, ac varius diam mattis vel. Duis et porttitor nunc. In hac habitasse platea dictumst. Donec mi eros, pharetra ut consequat at, euismod et leo.</p>
                <p class="p">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis mattis neque et neque volutpat, non egestas diam accumsan. Pellentesque mattis eros non semper commodo. Vestibulum auctor nisi a dapibus facilisis. Nunc eget euismod nunc. Proin nisi nibh, pharetra nec leo non, finibus vulputate leo.</p>
                <h2 class="titulo2">USO DE MARCAS REGISTRADAS</h2>
                <p class="p">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis mattis neque et neque volutpat, non egestas diam accumsan. Pellentesque mattis eros non semper commodo. Vestibulum auctor nisi a dapibus facilisis. Nunc eget euismod nunc. Proin nisi nibh, pharetra nec leo non, finibus vulputate leo.</p>
            </div>
        </div>
    </div>
    

    <footer>
        <div class="caixa">
            <div class="linha">
                <div class="c c6 centralizar mais-informacoes">
                        <h2 class="titulo2">Mais Informações</h2>
                        <ul>
                            <li><a href="#" id="login3">Minha Conta</a></li>
                            <li><a href="notícias.html">Notícias</a></li>
                            <li><a href="contatos.html">Contato</a></li>
                        </ul>
                </div>
                <div class="c c6 centralizar midias-sociais">
                    <h2 class="titulo2">Siga a CUP</h2>
                    <ul>
                        <li><a href="https://pt-br.facebook.com/"><span id="icone-facebook" class="icono-facebook"></span></a></li>
                        <li><a href="https://plus.google.com/"><span id="icone-google" class="icono-gplus"></span></a></li>
                        <li><a href="https://twitter.com/"><span id="icone-twitter" class="icono-twitter"></span></a></li>
                        <li><a href="https://www.youtube.com/"><span id="icone-youtube" class="icono-youtube"></span></a></li>
                        <li><a href="https://www.instagram.com/"><span id="icone-instagram" class="icono-instagram"></span></a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="linha">
                <div class="links centralizar">
                    <ul>
                        <li><a href="privacidade.html">Privacidade e Segurança</a></li> | 
                        <li><a href="termos.html">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            <div class="linha">
                <div class="c c12 p centralizar texto-final">
                    &copy; 2000 - 2017 CUP. Todos Os Direitos Reservados.
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>