        <div class="caixa">
            <div class="linha centralizar">
                <div class="c c9">
                    <h2 class="titulo2">FAÇA DOWNLOAD DO CUP</h2><br>
                    <button class="b b-vermelho">WINDOWS - 64 Bits</button> 
                    <br><br>
                    <h3 class="titulo2">Descrição Dos Pacotes</h3>
                    <p class=" p justificar">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur non est mattis sodales. Sed tempor mauris id dui tempor, tincidunt lobortis est eleifend. In eleifend ex quis massa pharetra rhoncus. Ut feugiat et tortor nec bibendum. Morbi interdum ipsum nec sollicitudin dapibus. Vivamus ultrices non erat et consequat. Maecenas non consequat leo, quis pellentesque libero. Ut ut viverra magna. Etiam quis dui sed elit fringilla eleifend ac et libero.
                        Fusce maximus orci ut metus scelerisque, id fringilla lorem pharetra. Proin dapibus nulla vel tortor posuere, at porta dui pulvinar. Fusce volutpat, tellus ac facilisis accumsan, tellus nulla ullamcorper ipsum, et laoreet magna nulla convallis libero. Praesent sodales elit odio, efficitur rhoncus diam hendrerit eget. Nunc eget cursus libero, non bibendum arcu. Nunc quis enim risus. Maecenas iaculis orci ac dolor venenatis, varius gravida mauris sodales. Integer lacinia venenatis laoreet. Integer ac lacinia magna, ut commodo purus. Aliquam tempor accumsan gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                        Maecenas metus ante, placerat ac nisi eu, dignissim pellentesque lectus. Aliquam venenatis ipsum luctus metus gravida posuere. Donec id pulvinar risus. Integer faucibus imperdiet augue, scelerisque suscipit felis aliquam eu. Vestibulum eu sapien vitae nisi lobortis hendrerit vitae nec nulla. Cras facilisis varius luctus. Nunc interdum blandit metus ut rutrum. Curabitur tincidunt purus et mauris porttitor feugiat. Ut volutpat efficitur mi, et iaculis massa tristique et. Integer hendrerit ut tortor in consectetur. In in viverra neque. Proin mollis interdum tortor at dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

                        Sed pellentesque sed lorem sit amet rhoncus. Nam lorem tortor, tempor eu nisi ut, condimentum rhoncus massa. Nunc eu fermentum leo. Pellentesque sit amet libero pharetra, dapibus metus sit amet, tempus turpis. Morbi posuere neque sed mi porta, ac eleifend justo congue. Nulla libero arcu, convallis ut leo sit amet, pellentesque lobortis quam. In fringilla orci at nulla sodales tincidunt. Mauris nec lorem ut odio luctus efficitur. Integer pellentesque, erat eget tristique vestibulum, erat lorem venenatis tortor, nec aliquam nisi quam ac enim. Praesent gravida pellentesque metus, non eleifend sem faucibus ut. Vivamus ullamcorper, ligula ac laoreet faucibus, enim orci molestie ligula, et ultrices enim sapien sed lacus.
                    </p>
                </div>
                <div class="c c3 opcao-membros">
                    <div class="p justificar">
                        <h3 class="titulo2"><a href="#">Download Para Outras Plataformas</a></h3>
                        <ul>
                            <li><a href="#">Windows - 32 bits</a></li>
                            <li><a href="#">Linux - 64 bits</a></li>
                            <li><a href="#">Linux - 32 bits</a></li>
                        </ul>
                    </div>
                    <div class="p justificar">
                        <h3 class="titulo2"><a href="#">Novidades Da Versão 5.0</a></h3>
                        <p class="p justificar">
                            Cras augue tellus, finibus eget tempus in, fringilla in enim. Morbi tortor mauris, porttitor ac eleifend non, congue sit amet dolor. Ut quis ante sit amet elit sodales iaculis. Fusce non enim arcu. Sed fermentum vehicula diam, quis volutpat eros congue a. Cras mattis mi lacus, sed porttitor turpis vulputate quis. Nam purus urna, vulputate sed felis ac, accumsan cursus enim.
                        </p>
                    </div>
                    <div class="p justificar">
                        <h3 class="titulo2"><a href="#">Versões Anteriores</a></h3>
                        <ul>
                            <li><a href="#">CUP 4.0</a></li>
                            <li><a href="#">CUP 3.5</a></li>
                            <li><a href="#">CUP 3.0</a></li>
                            <li><a href="#">CUP 2.5</a></li>
                            <li><a href="#">CUP 2.0</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>