 <div class="parallax">
        <img class="imagem" src="../res/img/White-Background-BD1.png">
        <img id="imagem2parallax" class="imagem" src="../res/img/White-Background-BD1.png">
    </div>
    <div class="conteudo-parallax">
        <div class="caixa">
            <div class="linha">
                <div class="c c12">
                    <h2 class="titulo-conteudo-parallax">CUP É...</h2>
                    <p>
                        Uma Incrível Ferramenta De Desenvolvimento!<br>
                        Descubra O Que Temos De Melhor Pra Você E Para Sua Empresa!
                    </p>
                    <button class="b b-vermelho"><a href="download.html">Download</a></button><br>
                </div>
            </div>
            <div class="linha">
                <div class="c c12">
                    <div class="icone"><img src="../res/img/icone/163-mug.png"></div>
                    <div class="icone"><img src="../res/img/icone/101-database.png"></div>
                    <div class="icone"><img src="../res/img/icone/194-cloud.png"></div>
                    <div class="icone"><img src="../res/img/icone/035-file-text.png"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagina-parallax">
        <div class="caixa">
            <div class="linha">
                <div class="c c12">
                    <h2 class="titulo2">Iniciando Com O CUP</h2>
                    <p class="p justificar">
                        Vivamus sed consequat neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nulla, dignissim ut luctus ut, iaculis eget metus. Vestibulum non augue sem. Sed vulputate, ex vitae consequat auctor, leo erat rhoncus justo, nec tincidunt libero mi in sem. Aliquam eget volutpat nunc. Aliquam et quam non velit ullamcorper tempor. Morbi vel arcu dolor. Curabitur id tincidunt leo, eu convallis lectus.

                        In semper dolor vel turpis dictum vehicula. Aliquam mollis risus a dolor mollis porta. Maecenas mattis fringilla pharetra. In viverra nunc dictum, vestibulum elit at, blandit erat. Fusce pulvinar elit ac nibh rhoncus, at rhoncus ante efficitur. Curabitur at pulvinar leo, et vehicula elit. Proin ut nulla molestie, posuere est ut, commodo sapien. Vivamus vestibulum quam eu turpis facilisis commodo. Praesent blandit lacus odio, in luctus diam sagittis id. Phasellus semper est mauris, sit amet tempor arcu dapibus id.

                        Nunc sollicitudin magna turpis, et consectetur urna rutrum id. Nulla facilisi. Aliquam lobortis lobortis facilisis. Fusce in bibendum nulla. Integer sit amet elit cursus, finibus risus a, elementum lorem. Morbi cursus eget quam sit amet facilisis. Praesent tempor feugiat velit. Pellentesque consectetur enim eu nunc congue finibus. In hac habitasse platea dictumst. Donec non sodales quam. Donec lectus urna, dignissim ut turpis vel, maximus tempus libero. Vestibulum iaculis viverra risus, eget aliquet ex aliquet id. 
                    </p>
                        <br>
                        <h2 class="titulo2">Porque O CUP?</h2>
                        <ul class="p justificar">
                            <li>Vivamus sed consequat neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nulla, dignissim ut luctus ut, iaculis eget metus. Vestibulum non augue sem. Sed vulputate, ex vitae consequat auctor, leo erat rhoncus justo, nec tincidunt libero mi in sem. Aliquam eget volutpat nunc. Aliquam et quam non velit ullamcorper tempor. Morbi vel arcu dolor. Curabitur id tincidunt leo, eu convallis lectus.</li>
                            <li>In semper dolor vel turpis dictum vehicula. Aliquam mollis risus a dolor mollis porta. Maecenas mattis fringilla pharetra. In viverra nunc dictum, vestibulum elit at, blandit erat. Fusce pulvinar elit ac nibh rhoncus, at rhoncus ante efficitur. Curabitur at pulvinar leo, et vehicula elit. Proin ut nulla molestie, posuere est ut, commodo sapien. Vivamus vestibulum quam eu turpis facilisis commodo. Praesent blandit lacus odio, in luctus diam sagittis id. Phasellus semper est mauris, sit amet tempor arcu dapibus id.</li>
                            <li>Nunc sollicitudin magna turpis, et consectetur urna rutrum id. Nulla facilisi. Aliquam lobortis lobortis facilisis. Fusce in bibendum nulla. Integer sit amet elit cursus, finibus risus a, elementum lorem. Morbi cursus eget quam sit amet facilisis. Praesent tempor feugiat velit. Pellentesque consectetur enim eu nunc congue finibus. In hac habitasse platea dictumst. Donec non sodales quam. Donec lectus urna, dignissim ut turpis vel, maximus tempus libero. Vestibulum iaculis viverra risus, eget aliquet ex aliquet id.</li>
                        </ul>
                </div>
            </div>
        </div>
