    <div class="caixa">
        <div class="linha">
            <div class="c c8">
                <h2 class="titulo2">Deixe Aqui Sua Reclamação Ou Sugestão De Melhoria</h2>
                <form class="formulario">
                    <label>Nome: </label><input type="text" name="nome">
                    <label>Email: </label><input type="email" name="email">
                    <label>Reclamação: </label><textarea></textarea>
                    <input class="b b-vermelho" type="submit" name="Enviar" value="Enviar Sugestão">
                </form>
            </div>
            <div class="c c4">
                <h2 class="titulo2">Outras Formas de Contato</h2>
                <p class="p esquerda"> 
                    Email: cup@cup.com.br <br>
                    Telefone: (51) 12365-4987
                </p>
                <br>
                <h2 class="titulo2">Dúvidas</h2>
                <p class="p justificar"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec metus arcu, euismod venenatis venenatis quis, congue a orci. Pellentesque ac cursus lacus, et vulputate dolor. Mauris fermentum risus erat. Nunc sed tellus et eros suscipit mollis sed sed sapien. Sed sit amet ipsum quis leo congue dapibus at eu nunc. Aliquam dui elit, sodales ac ultricies vitae, sagittis non mauris. Aliquam ultricies nunc auctor lobortis volutpat. In varius nulla urna, gravida rhoncus enim egestas at. Donec vel odio quis odio gravida maximus.
                </p>
            </div>
        </div>
    </div>